<div></div>

{% schema %}
{
  "name": "Share",
  "settings": [
    {
      "type": "text",
      "id": "share_label",
      "default": "Share",
      "label": "Share Label"
    }
  ]
}
{% endschema %}
