@import "tailwindcss" source(none);

/* scan liquid files */
@source "../../layout/*.liquid";
@source "../../sections/*.liquid";
@source "../../snippets/*.liquid";

@theme {
  --color-brand: #121212;
}

[x-cloak] {
  display: none !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  a {
    @apply cursor-pointer;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .container-lg {
    @apply mx-auto w-full max-w-[1920];
  }
}
